# Environment variables
.env
*.env
env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/

# Lambda build artifacts
backend/build/
backend/lambda.zip

# IDE
.vscode/
.idea/
.DS_Store
