# Environment variables
.env
*.env
env
web/.env
.gitattributes

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/
node_modules

# Lambda build artifacts
backend/build/
backend/lambda.zip

# IDE
.vscode/
.idea/
.DS_Store
